@import "/src/styles/global.scss";

.heroWrap {
  margin-top: 40px;
  display: flex;
  column-gap: 20px;

  @media only screen and (max-width: $tab) {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  img {
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
  }
}

.descriptionHeroWrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media only screen and (max-width: $tab) {
    text-align: center;
  }
}

.comicsWrap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
